/BaseballCoach.class
/BeanLifecycleDemoApp.class
/BeanScopeDemoApp.class
/Coach.class
/CricketCoach.class
/FortuneService.class
/HappyFortuneService.class
/HappyFortuneService2.class
/HelloSpringApp.class
/MyApp.class
/RandomFortune.class
/SetterDemoApp.class
/TrackCoach.class
